.App {
  font-family: "Source Code Pro", monospace, Monaco;
  text-align: center;
  margin: 20px;
}

textarea {
  margin-bottom: 10px;
  width: 90%;
  max-width: 600px;
}

button {
  padding: 8px 16px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #007bff;
  color: white;
}

.table-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

table {
  width: 90%;
  max-width: 800px;
  border-collapse: collapse;
}

th, td {
  padding: 4px;
  border: 1px solid #eaeaea;
  text-align: left;
}

td {
  font-family: monospace;
  font-size: 14px;
}

tr:hover {
  background-color: #d1e7fd;
}

tr {
  overflow: hidden;
  height: 14px;
  white-space: nowrap;
}

table tr:nth-child(odd) td{
  background-color: #ffffff;
}
table tr:nth-child(even) td{
  background-color: #f1f1f1;
}

.alert{
  display: inline-block;
  font-size: 12px;
}

.numType{
  color: #e32a4f;
}

.strType{
  color: #025cc5;
}